# --- .NET Core ---
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/
App_Data/
# התעלמות ממסד הנתונים המקומי
*.mdf
*.ldf
*.db

# --- React / Node ---
node_modules/
dist/
dist-ssr
*.local
.eslintcache
.stylelintcache
.vite/
.env

# --- Project Specific (הקבצים הכבדים שלך) ---
# אנחנו רוצים להתעלם מהקבצים הפיזיים שהועלו לשרת
Server/OurWebApi/Images/*
Server/OurWebApi/Music/*
# אבל אנחנו רוצים לשמור את התיקיות עצמן (חוץ מהקבצים)
!Server/OurWebApi/Images/.gitkeep
!Server/OurWebApi/Music/.gitkeep

# --- OS Files ---
.DS_Store
Thumbs.db